
<div id="greeting">
		<p id="flavour">Flavour</p>
		<p id="share">share your creative recipes</p>
		<a href="signup"><button class="btn">Sign up</button></a>
		<a href="login"><button class="btn">Log in</button></a>
		<button class="btn" id="about">About us</button>
</div>
<div id="contact">
	<h2>Contact Us</h2>
	<a><%= image_tag "email.png" %></a>
	<a><%= image_tag "facebook.png" %></a>
</div>